<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<div class="home-screen">
  <div class="text-center">Group Notes for :class_name, :college_name</div>
</div>

<div class="home-screen">

  <% @groups.each do |group|%>
      <div class="row group">
        <div class="col-md-1">

          <%= link_to gravatar_for(current_user), "http://www.gravatar.com", target: '_blank', class: "img-responsive center-block" %>


        </div>
        <div class="col-lg-2">
          <div class="col-lg-12 posted-by">Posted By</div>
          <div class="col-lg-12 posted-by"><%= group.author_email %></div>

        </div>
        <div class="col-lg-6">
          <h1><%= link_to group.note_subject, group,class:  "group-subject" %></h1>
        </div>

        <div class="col-lg-3">


          <span class="timestamp"> <%= (TimeDifference.between(Time.now, group.created_at).in_days).round %></span>
          <span class="sub-text">Days Ago</span>


        </div>

      </div>
  <% end %>

</div>
