<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({format: "yyyy-mm-dd", autoclose: true});
    });
</script>


    <div class="project-form">

      <%= bootstrap_form_for(@project) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="col-md-4">

            <div class="field">
              <%= f.text_field :project_title, :value => @project.project_title , label: "Title" %>
            </div>

            <div class="field">
              <%= f.select :project_worth, options_for_select((0..100).to_a.map { |n| [n, n] }, @project.project_worth), label: "Worth" %>
            </div>

          </div>

          <div class="col-md-4">

            <div class="field">
              <%= f.text_field :project_subject, :value => @project.project_subject, label: "Subject" %>
            </div>


            <div class="field">
              <%= f.text_field :project_due_date, :class => 'datepicker', :value => @project.project_due_date, label: "Due Date", :readonly => true %>
            </div>

          </div>

          <div class="col-md-4">
            <div class="field">
              <%= f.text_field :project_type, :value => @project.project_type, label: "Type" %>
            </div>
          </div>




          <div class="col-md-12">
            <div class="field">
              <%= f.text_area :project_details, :value => @project.project_details, :class => "tinymce", :rows => 20, :cols => 50, label: "Notes" %>
            </div>
          </div>

          <%= tinymce %>




          <div class="field project-save-button">
            <%= f.submit "Save Entry", class: "btn-sm btn-danger" %>
          </div>


      <% end %>

    </div>

