<li id="project-<%= project.id %>">

  <div class="row ">

    <div class="col-md-1">

      <%= link_to gravatar_for(project.user), "http://www.gravatar.com", target: '_blank', class: "img-responsive center-block" %>
    <!--<span class="user"><%= link_to project.user.name, project.user %></span>-->


    </div>

    <div class="col-md-8">
      <span class="subject"> <%= link_to project.project_subject, project, 'data-no-turbolink' => true %>  (<%= project.project_worth %>%)</span>

      <span class="title"><%= project.project_title %></span>




      <!--<span class="content"><%= project.project_details %></span>-->


    </div>
    <div class="col-md-3">

      <!--<span class="timestamp"> <%= distance_of_time_in_words(Time.now, project.project_due_date) %></span>-->
      <span class="timestamp"> <%= (TimeDifference.between(Time.now, project.project_due_date).in_days).round %></span>
      <span class="sub-text">Days Left</span>
      <span class="sub-text"><%= link_to "", project, method: :delete, class: "btn-sm btn-danger  glyphicon glyphicon-remove", :data => {:confirm => "Delete #{project.project_title}?"}%></span>



    </div>


  </div>




</li>

<!--// Send Projectid to function to fill form-->