<li id="project-<%= project.id %>">
  <%= link_to gravatar_for(project.user), project.user %>
  <span class="user"><%= link_to project.user.name, project.user %></span>
  <span class="content"><%= project.projectTitle %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(project.created_at) %> ago.
  </span>
</li>