<li id="project-<%= project.id %>">

  <div class="row ">

    <div class="col-md-1">

      <%= link_to gravatar_for(project.user), "http://www.gravatar.com", target: '_blank', class: "img-responsive center-block" %>
    <!--<span class="user"><%= link_to project.user.name, project.user %></span>-->


    </div>

    <div class="col-md-8">
      <span class="subject"> <%= link_to project.project_subject, root_path(:project_subject => project.project_subject, :project_title => project.project_title, :project_type => project.project_type, :project_worth => project.project_worth, :project_due_date => project.project_due_date, :project_details => project.project_details, :id => project.__id__), 'data-no-turbolink' => true %>  (<%= project.project_worth %>%)</span>
      <span class="title"><%= project.project_title %></span>




      <!--<span class="content"><%= project.project_details %></span>-->


    </div>
    <div class="col-md-3">

      <!--<span class="timestamp"> <%= distance_of_time_in_words(Time.now, project.project_due_date) %></span>-->
      <span class="timestamp"> <%= (TimeDifference.between(Time.now, project.project_due_date).in_days).round %></span>
      <span class="sub-text">Days Left</span>
      <!--<button type="button" class="btn btn-danger btn-xs update-button">Update</button>-->



    </div>


  </div>


</li>

<!--// Send Projectid to function to fill form-->